{% extends "base_map.html" %}

{% block head %}

    <link rel="stylesheet" type="text/css" href="/css/webflow_base.css">

    <style>
        html, body {
            background-color: #f1f1f2;
            font-size: 18px;
            line-height: 1;
        }

        body, p, h1, h2, h3, h4, h5, h6 {
            font-family: "Open Sans", sans-serif;
            color: #808284;
        }

        .container {
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            font-weight: 300;
            color: #808284;
            padding-top: 50px;
            background: #f1f1f2;
            padding-bottom: 50px;
        }

        #dashboard-top-spacer {
            height: 25px;
        }

        #referrals .leaderboard_points {
            margin-top: 5px;
        }

        .well { height: 380px; overflow: hidden; }

        .dashboard-tip-spot {
            position: absolute;
            z-index: 50;
            bottom: 30px;
            right: 20px;
            height: 26px;
            width: 26px;
            margin-top: 0px;
            padding-top: 3px;
            border-radius: 13px;
            text-align: center;
            background-color: #E6E7E8;
            color: #A7A9AB;
        }

        @media (max-width: 768px) {
          .dashboard-tip-spot { bottom: 10px; }
        }

        .dashboard-tip-spot-content {
            display: none;
        }

        .warning-button {
            display: block;
            margin-top: 10px;
            margin-right: auto;
            margin-left: auto;
            border: 1px solid #47bccc;
            border-radius: 5px;
            background-color: #47c1d2;
            font-family: 'Open Sans', sans-serif;
            font-weight: 300;
            font-size: 14px;
            text-align: center;
        }

        .community-header{
          text-align: center;
        }

        .users-table{
          border: 1px solid lightgray;
          display: flex;
          flex-direction: column;
        }

        .list-labels{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          font-size: 20px;
          font-weight: 400;
          padding: 10px 5px;
          border-bottom: 1px solid lightgray;
          background: white;
        }

        .users-list{
          display: flex;
          flex-direction: column;
          padding: 0px;
          background: white;
        }

        .users-list li{
          display: flex;
          flex-direction: row;
          justify-content: space-evenly;
          padding: 10px 5px;
        }

        .users-list li:nth-child(even){
          background: #f1f1f2;
        }

        section{
          margin-right: 10px;
        }

        .name{
          width: 125px;
        }

        .users-list .name:hover{
          cursor: pointer;
          color: #8fd7e1;
        }
        .tier{
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          width: 92px;
        }

        .tier-ball {
          width: 17px;
          height: 17px;
          margin: 0px;
        }

        .point-balance{
          width: 145px;
        }

        .phone-number{
          width: 143px;
        }

        .user-modal{
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: rgb(0,0,0);
          background-color: rgba(0,0,0,0.4);
        }

        .modal-content{
          background-color: #fefefe;
          margin: 15% auto;
          padding: 20px;
          border: 1px solid #888;
          width: 20%;
          display: flex;
          flex-direction: column;
        }

        .close {
          text-align: right;
          color: #aaa;
          float: right;
          font-size: 28px;
          font-weight: bold;
        }

        .close:hover,
        .close:focus {
          color: black;
          text-decoration: none;
          cursor: pointer;
        }

        .user-location{
          margin-top: 20px;
          text-align: center;
          font-size: 30px;
        }


    </style>

    <script>

      var modal, locationDiv, locationLabel, close

      document.addEventListener("DOMContentLoaded", () => {
        modal = document.getElementById("user-modal")
        locationDiv = document.getElementById("user-location")
        locationLabel = document.getElementById("location-label")
        close = document.getElementById("close")
        close.addEventListener("click", () => {
          modal.style.display="none"
        })
      });

      window.onclick = function(event) {
        if (event.target == modal) {
          modal.style.display = "none";
        }
      }

      function displayModal(location, name){
        locationDiv.innerHTML = location
        locationLabel.innerHTML = name + "'s Location"
        modal.style.display = "flex"
      }


    </script>

{% endblock %}

{% block body %}

    <div id="container" class="container">
        <div id="dashboard-top-spacer">&nbsp;</div>
        <div class="row">
            <div class="col-md-8">
                <div class="twothirds_div">
                  <h1 class="community-header">Community</h1>
                    <div class="users-table">
                      <div class="list-labels">
                        <section class="name">Name</section>
                        <section class="tier">Tier</section>
                        <section class="point-balance">Point Balance</section>
                        <section class="phone-number">Phone Number</section>
                      </div>
                      <ul class="users-list">
                        {% for user in users %}
                          <li>
                            <section class="name" onclick="displayModal('{{user.location}}','{{user.display_name}}')" title="Display Location">{{ user.display_name }}</section>
                            <section class="tier"><span class="tier-ball {{ user.tier.lower() }}"></span><span>{{ user.tier }}</span></section>
                            <section class="point-balance">{{ user.point_balance }}</section>
                            <section class="phone-number">{{ user.phone_number }}</section>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="user-modal" id="user-modal">
      <div class="modal-content">
        <span class="close" id="close">&times;</span>
        <p style="text-align: center;" id="location-label">Location</p>
        <p class="user-location" id="user-location"></p>
      </div>
    </div>

{% endblock %}
